@model WebApplication2.Models.Spectacole

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Spectacole</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.SpectacoleiD)

        <div class="form-group">
            @Html.LabelFor(model => model.Titlu, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Titlu)
                @Html.ValidationMessageFor(model => model.Titlu)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Regia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Regia)
                @Html.ValidationMessageFor(model => model.Regia)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Distributia, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Distributia)
                @Html.ValidationMessageFor(model => model.Distributia)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Data, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Data)
                @Html.ValidationMessageFor(model => model.Data)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NumarBilete, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NumarBilete)
                @Html.ValidationMessageFor(model => model.NumarBilete)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
